body { background: #fefefe/*#2F2A2A*/; }
* a { text-decoration: none; }

#wrap {
	margin: 0 auto;
	font: italic normal 1em PlayTime;
}
	#wrap #header {
		margin-top: 30px;
		margin-bottom: 30px;
	}
		#wrap #header h1 {
			font: italic normal 2em PlayTime;
			color: #a9a9a9;
			text-align: center;
		}
			#wrap #header h1:hover { color: #999; }
			#wrap #header h1 a { color: #f59000; }
			#wrap #header h1 a:hover { color: #ffa900; }
		
		#wrap #header #links {
			text-align: center;
			margin-bottom: 30px;
			font: italic normal 1.5em PlayTime;
			color: #a9a9a9;
		}
			#wrap #header #links a { color: #0090F5; }
			#wrap #header #links a:hover { color: #77c300/*#EC0E55*/; }
	
	#wrap #main h1 {
		color: #333;
		font: italic normal 4em PlayTime;
		line-height: .7em
	}
	
	#wrap #main h1 a {
		color: #189FF8;
		font: italic normal 1em PlayTime;
		line-height: .7em
	}
	#wrap #main h1 a:hover { color: #f59000; }
	
	#wrap #main h2 {
		color: #77c300;
		font: italic normal 3.3em PlayTime;
		line-height: .7em;
		margin-top: 50px;
	}
	
	#wrap #main h3 {
		color: #f59000;
		font: italic normal 2.5em PlayTime;
		line-height: .7em;
		text-align: center;
	}
	
	#wrap #main h4 {
		color: #189FF8;
		font: italic normal 2em PlayTime;
		line-height: .7em
	}
	
	#wrap #main p {
		color: #232323;
		font-size: 1.3em;
	}
	
	#wrap #main a {
		color: #f59000;
	}
	
	#wrap #main a:hover {
		color: #77c300;
	}
	
	#wrap #main ul li {
		color: #333;
	}
	
	#wrap #main ol {
		margin-top: 20px;
	}
	
	#wrap #main ol li {
		color: #333;
	}
	
	#wrap #main dt {
		color: #189FF8;
	}
	
	#wrap #main dd {
		color: #333;
		margin-left: 15px;
	}
	
	#wrap #main blockquote {
		background: #fafafa/*463E3E*/;
		padding: 5px 15px 15px 15px;
		border: 1px solid #eaeaea;
		-moz-border-radius: 30px;
	}
	
	#wrap #main label {
		color: #0090F5;
	}
	
	#wrap #main table {
		font-size: 1.3em;
	}
	
	#wrap #main table th {
		color: #EC0E55;
		padding: 5px;
	}
	
	#wrap #main table tr td {
		color: #333;
		padding: 5px;
	}
	
	#wrap #main table tr td a {
		color: #77c300;
	}
		#wrap #main table tr td a:hover {
			color: #f59000;
		}
	
	#wrap .entry {
		margin-bottom: 60px;
	}

			#wrap .entry h1 a:hover {
				color: #F1196B;
			}
		
			#wrap .entry .info {
				font: italic normal 1em PlayTime;
				color: #a9a9a9;
				margin: 20px;
			}
			
			#wrap .entry .info a {
				color: #f59000;
			}
			
			#wrap .entry .info a:hover {
				color: #77c300;
			}
			
			#wrap .entry a {
				color: #f59000;
			}
			
			#wrap .entry a:hover {
				color: #77c300;
			}
			
			#wrap .entry .content p {
				/*color: #333;
				font: italic normal 1.3em LinuxLibertine;
				margin: 20px 0px 0px 0px;
				padding: 0px;
				line-height: 130%;*/
				color: #394447;
				font: italic normal 1.3em LinuxLibertine;
				margin: 20px 0px 0px 0px;
				padding: 0px;
			}
			
			#wrap .entry .content pre {
				background: #efefef;
				line-height: 10px;
			}
				#wrap .entry .content code.inline {
					border: 1px solid #eeeeec;
					padding: 0px 4px 0px 4px;
					margin: 0px 3px 0px 3px;
					font: normal normal 14px Monaco;
					background: #fafafa;
				}
					#wrap .entry .content code.inline:hover {
						border: 1px solid #dddddc;
						
					}
			
			#wrap .entry .content pre {
				color: #495153;
				font: normal normal 1em Monaco;
				padding: 10px;
				background: #fff;
				border: 1px solid #E6E5E9;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				border-radius: 10px;
			}
	
	#wrap #sidebar {
		
	}
		#wrap #sidebar h1 {
			margin: 0px;
			padding: 0px;
			font-size: 1.4em;
			color: #eeeeec;
		}
		
		#wrap #sidebar .box {
			margin-bottom: 30px;
			font-size: 1.23em;
		}
			#wrap #sidebar .box a {
				color: #77c300;
			}
			
			#wrap #sidebar .box a:hover {
				color: #0090F5;
			}
			
			#wrap #sidebar .box h1 {
				color: #f59000;
			}
			
			#wrap #sidebar .box p {
				color: #444;
				margin-left: 0px;
			}
			
			#wrap #sidebar .box ul {
				color: #444;
				margin-left: -30px;
				padding: 0px;
				list-style: none;
			}
			
			#wrap #sidebar .box ul li {
				margin-bottom: 3px;
			}
	
	#wrap #footer {
		text-align: center;
		font: italic normal 1em PlayTime;
		color: #a9a9a9;
		padding: 20px 0px 20px 0px;
		margin-top: 60px;
	}
		#wrap #footer a {
			color: #f59000;
		}
		
		#wrap #footer a:hover {
			color: #77c300;
		}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 1, 2011 11:12:01 AM America/New_York */
@font-face {
    font-family: 'LinuxLibertine';
    src: url('../fonts/Linux-Libertine.eot');
    src: url('../fonts/Linux-Libertine.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Linux-Libertine.woff') format('woff'),
         url('../fonts/Linux-Libertine.ttf') format('truetype'),
         url('../fonts/Linux-Libertine.svg#LinuxLibertineORegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 2, 2011 */
@font-face {
    font-family: 'Monaco';
    src: url('../fonts/Monaco.eot');
    src: url('../fonts/Monaco.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Monaco.woff') format('woff'),
         url('../fonts/Monaco.ttf') format('truetype'),
         url('../fonts/Monaco.svg#MonacoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 2, 2011 */
@font-face {
    font-family: 'Thryomanes';
    src: url('../fonts/Thryn.eot');
    src: url('../fonts/Thryn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Thryn.woff') format('woff'),
         url('../fonts/Thryn.ttf') format('truetype'),
         url('../fonts/Thryn.svg#ThryomanesNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PlayTime';
	src: url('../fonts/playtimewithhottoddies-webfont.ttf');
}
