/*
 * 
 * Site global styles
 * 
 */
body { background: #D8D3CF; margin: 0px; padding: 0px; }
a { color: inherit; text-decoration: none; }

h1 {
	font: 42px 'LinuxLibertineOItalic', Arial, sans-serif;
	padding: 0px;
	margin: 20px 0px 0px 0px;
}

h2 {
	margin: 40px 0px 0px 0px;
	padding: 0px;
	color: #1A8BD2;
	text-align: center;
	font: 30px 'LinuxLibertineOItalic', Arial, sans-serif;
}

p {
	font: 18px/27px 'LinuxLibertineOItalic', Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

ul {
	margin: 0px 0px 0px 20px;
	padding: 0px;
	list-style: circle;
	list-style-type: circle;
	font: 1em 'LinuxLibertineOItalic', Arial, sans-serif;
	line-height: 24px;
}

	ul a { color: #553017; }
	ul a:hover { color: #C06E33; }

label {
	font: 18px/27px 'LinuxLibertineORegular', Arial, sans-serif;
}

input {
	padding: 8px;
	border: 1px solid #ccc;
	font: 17px 'LinuxLibertineOItalic', Arial, sans-serif;
	margin-bottom: 10px;
	color: #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

	input:focus { color: #222; }
	input[type="submit"] { color: #222; }

textarea {
	padding: 8px;
	border: 1px solid #ccc;
	font: 17px 'LinuxLibertineOItalic', Arial, sans-serif;
	margin-bottom: 10px;
	color: #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

	textarea:focus { color: #222; }

blockquote {
	letter-spacing: 1px;
	-moz-border-radius: 10px;
	margin: 25px 10px;
 	padding: 10px 10px 10px 50px;
 	color: #7B5647;
   border: 1px solid #ECF8FE;
	background: #ECF8FE url(../images/quote.jpg) no-repeat 10px 10px;
	font: 17px 'LinuxLibertineOItalic', Arial, sans-serif;
}

code.inline {
	border: 1px solid #dddddc;
	padding: 2px 6px 2px 6px;
	margin: 0px 3px 0px 3px;
	font: 14px/27px Monospace;
	color: #444;
	background: #fafafa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

pre {
	margin: 25px 0px;
	padding: 0px;
}

/*
 *
 * Site ids and classes
 *
 */
h1#header {
	margin: -20px 0px 0px 40px;
	text-align: center;
}

	h1#header a {
		font: italic normal 85px 'ZendaRegular';
		text-shadow: 1px 1px 0px #fff;
	}

#wrap {
	width: 924px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 18px;
	background: #e1ddda;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

#content {
	background: #fff;
	padding: 20px;
	padding-bottom: 50px;
	-moz-border-radius: 30px;
}

	#content h1 a { color: #44402A; }
	#content h1 a:hover { color: #5F593A; }
	#content .content a { color: #1A8BD2; }
	#content .content a:hover { color: #50B1EE; }

#sheep {
	height: 224px;
	background: #fff url('../images/engravin.png') no-repeat 0px 0px;
	margin-bottom: 20px;
	-moz-border-radius: 30px;
}

#menu { margin-bottom: 20px; }

	#menu a {
		font: italic bolder 1.4em serif;
		color: #fefefe;
		-moz-border-radius: 30px;
		width: 130px;
		padding: 7px 13px 7px 13px;
		margin-right: 7px;
		background: url('../images/bg.png') repeat 0 0;
		text-align: center;
	}

#search {
	margin: 0px 0px 0px 130px;
	height: 23px;
	-moz-border-radius: 30px;
	border: none;
}

#options {
	width: 642px;
	float: left;
}

	#options a {
		color: #fff;
		font: italic bolder 1.4em serif;
		background: #54B3F1;
		-moz-border-radius: 30px;
		width: 130px;
		padding: 7px 13px 7px 13px;
		margin-right: 6px;
		text-align: center;
	}

#admin_options {
	width: 242px;
	float: left;
	text-align: right;
}

	#admin_options a {
		color: #fff;
		font: italic bolder 1.4em serif;
		background: #54B3F1;
		-moz-border-radius: 30px;
		width: 130px;
		padding: 7px 13px 7px 13px;
		margin-left: 6px;
		text-align: center;
	}

.entry .info {
	font: 15px 'LinuxLibertineOItalic', Arial, sans-serif;
	color: #999;
	margin: 20px;
}

	.entry .info a { color: #777; }

#share {
	margin-top: 20px;
	margin-left: 60px;
	float: left;
}

	#share img {
		padding: 0px 7px 0px 0px;
		margin: 0px;
	}

#share_tip {
	font: 13px 'LinuxLibertineOItalic', Arial, sans-serif;
	color: #111;
}

#conversation {
	float: left;
	width: 64%;
}

	#conversation .comment {
		/*background: #fcfcfc;*/
		margin-bottom: 10px;
		-moz-border-radius: 30px;
		-webkit-border-radius: 30px;
		padding: 20px;
	}
	
	#conversation .comment span {
		font: 18px/22px 'LinuxLibertineOItalic', Arial, sans-serif;
	}
	
	#conversation .comment div {
		color: #888;
		height: 30px;
		margin-top: 15px;
		margin-bottom: 45px;
		font: 18px 'LinuxLibertineOItalic', Arial, sans-serif;
	}
	#conversation .comment div a { color: #1C9EE0; }
	#conversation .comment div a:hover { color: #31AFEF; }
	
	#conversation .comment img {
		float: left;
		margin-right: 10px;
		-moz-border-radius: 40px;
		border: 5px solid #e1ddda;
	}

		#conversation .comment span a { color: #1C9EE0; }
		#conversation .comment span a:hover { color: #31AFEF; }
	
#related_posts {
	float: left;
	width: 36%;
}

#join_conversation {
	
}

#footer {
	color: #333;
	margin-top: 20px;
	font: 14px 'LinuxLibertineOItalic', Arial, sans-serif;
	text-align: center;
}

/*
 *
 * Useful classes
 *
 */
.btn {
	color: #fff;
	font: italic bolder 1.4em serif;
	background: #54B3F1;
	-moz-border-radius: 30px;
	width: 130px;
	padding: 7px 13px 7px 13px;
	text-align: center;
}

.spacer { height: 3em; }
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

@font-face {
    font-family: 'LinuxLibertineORegular';
    src: url('../fonts/linlibertine_re-4.7.5ro-webfont.eot');
    src: url('../fonts/linlibertine_re-4.7.5ro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linlibertine_re-4.7.5ro-webfont.woff') format('woff'),
         url('../fonts/linlibertine_re-4.7.5ro-webfont.ttf') format('truetype'),
         url('../fonts/linlibertine_re-4.7.5ro-webfont.svg#LinuxLibertineORegular') format('svg');
}

@font-face {
    font-family: 'LinuxLibertineOItalic';
    src: url('../fonts/linlibertine_it-4.2.6ro-webfont.eot');
    src: url('../fonts/linlibertine_it-4.2.6ro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linlibertine_it-4.2.6ro-webfont.woff') format('woff'),
         url('../fonts/linlibertine_it-4.2.6ro-webfont.ttf') format('truetype'),
         url('../fonts/linlibertine_it-4.2.6ro-webfont.svg#LinuxLibertineOItalic') format('svg');
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 30, 2011 04:58:47 PM America/New_York */
@font-face {
    font-family: 'ZendaRegular';
    src: url('../fonts/zenda-webfont.eot');
    src: url('../fonts/zenda-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/zenda-webfont.woff') format('woff'),
         url('../fonts/zenda-webfont.ttf') format('truetype'),
         url('../fonts/zenda-webfont.svg#ZendaRegular') format('svg');
}
