- title 'contact'

%ul{:style => "list-style-type: none; margin: 50px;"}
  %li
    <a href="mailto:urbas@hush.ai"><img src="../images/email.png"/></a>
  %li
    <a href="https://github.com/semahawk/"><img src="../images/github.png"/></a>
  %li
    <a href="http://stackoverflow.com/users/815987/semahawk"><img src="../images/stackoverflow.png"/></a>
  %li
    <a href="https://twitter.com/semahawk/"><img src="../images/twitter.png"></a>
    
