- title 'Send me a pigeon, matey!'

%h1{:style => "text-align: center;"}
	%a{:href => "mailto:szymon.urbas@yahoo.com", :title => "Send me an e-mail!"} email
	%br
	%br
	%a{:href => "http://twitter.com/semahawk", :title => "Follow me on Twitter!"} twitter
	%br
	%br
	%a{:href => "http://github.com/semahawk", :title => "Fork me on GitHub!"} github
