- title 'contact'

%ul#contact
  <li><a href="mailto:urbas@hush.ai"><img src="../images/email.png" alt="through an email" /></a></li><li><a href="https://github.com/semahawk/"><img src="../images/github.png" alt="on github" /></a></li><li><a href="http://stackoverflow.com/users/815987/semahawk"><img src="../images/stackoverflow.png" alt="on stackoverflow" /></a></li><li><a href="https://twitter.com/semahawk/"><img src="../images/twitter.png" alt="at twittter" /></a></li>

