!!!
%html
	%head
		%title Semahawk
		= javascript_include_tag 'application', 'jquery.min', 'rails'
		= stylesheet_link_tag :all
		= csrf_meta_tag
	%body
		%div{:style => "text-align: center;"}
			%h1 Sem<span>Ah<span>awk</span></span>
			%p Coming soon !
			/[if IE]
				%p
					Found that site looking creepy?
					%a{:href => 'http://www.mozilla.com/en-US/firefox/'} Get Firefox !
