!!!
%html
	%head
		%title Semahawk
		= javascript_include_tag 'application'
		= csrf_meta_tag
	%body
		%div{:style => "text-align: center;"}
			%h1 Sem<span>Ah<span>awk</span></span>
			%p Coming soon !
